In [1]:
import pandas as pd
Location = "C:\\Users\\18135\\Downloads\\EAS01.xls"
df = pd.read_excel(Location)

In [2]:
df.shape

(3198, 42)

In [3]:
df.head()

,Areaname,STCOU,EAS010200F,EAS010200D,EAS010200N1,EAS010200N2,EAS110200F,EAS110200D,EAS110200N1,EAS110200N2,...,EAS260200N1,EAS260200N2,EAS270200F,EAS270200D,EAS270200N1,EAS270200N2,EAS280200F,EAS280200D,EAS280200N1,EAS280200N2
0,UNITED STATES,0,0,6504679000,0,0,0,44482000,0,0,...,0,0,0,558078000,0,0,0,643378000,0,0
1,ALABAMA,1000,0,76977452,0,0,0,954696,0,0,...,0,0,0,6979434,0,0,0,4539231,0,0
2,"Autauga, AL",1001,0,404431,0,0,0,6116,0,0,...,0,0,0,58210,0,0,0,14717,0,0
3,"Baldwin, AL",1003,0,1713678,0,0,0,27275,0,0,...,0,0,0,282759,0,0,0,155209,0,0
4,"Barbour, AL",1005,0,399652,0,0,0,26356,0,0,...,0,0,0,32210,0,0,0,13205,0,0